services:
  fastapi_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi_app_container
    ports:
      - 8000:8000
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
      - PIP_DISABLE_PIP_VERSION_CHECK=1
      - DATABASE_URL=mysql+pymysql://fastapi_app_user:sup3rs3cr3t@mariadb:3306/fastapi_app_db
    depends_on:
      mariadb:
        condition: service_healthy

  mariadb:
    image: mariadb:11
    container_name: mariadb_container
    environment:
      - MARIADB_ROOT_PASSWORD=sup3rs3cr3t
      - MARIADB_DATABASE=fastapi_app_db
      - MARIADB_USER=fastapi_app_user
      - MARIADB_PASSWORD=sup3rs3cr3t
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "sh", "-c", "mariadb --user=$$MARIADB_USER --password=$$MARIADB_PASSWORD --database=$$MARIADB_DATABASE -e 'SELECT 1'"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 30s

volumes:
  mariadb_data: